/* Color variables */
:root {
    --primary-color: #1a237e; /* Dark blue */
    --secondary-color: #880e4f; /* Dark pink */
    --accent-color: #4a148c; /* Dark purple */
    --highlight-color: #880e4f; /* Deep purple */
    --link-color: #1565c0; /* Blue */
    --hover-color: #0d47a1; /* Dark blue */
    --bg-color: #f5f5f5; /* Light gray */
    --text-color: #333; /* Dark gray */
    --container-bg-color: #ffffff; /* White */
    --footer-bg-color: #333; /* Dark gray for footer background */
    --footer-text-color: #ffffff; /* White for footer text */
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    padding: 20px;
    background-color: var(--container-bg-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 36px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.subtitle {
    font-size: 20px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.about-me {
    text-align: center;
    margin-bottom: 40px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.left-section,
.right-section {
    width: calc(50% - 10px);
}

.left-section {
    margin-right: 20px;
}

.left-section .subsection h3,
.right-section .subsection h3 {
    font-size: 20px;
    color: var(--highlight-color);
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section .subsection h3 span,
.right-section .subsection h3 span,
.project .date {
    font-size: 14px;
    color: var(--text-color);
}

.left-section .subsection h3 span.date,
.right-section .subsection h3 span.date,
.project .date {
    margin-left: 10px;
}

h2 {
    font-size: 24px;
    color: var(--accent-color);
    margin-bottom: 20px;
}

.subsection {
    margin-bottom: 20px;
}

.project {
    margin-bottom: 20px;
}

.project h3 {
    font-size: 20px;
    color: var(--highlight-color);
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
    color: var(--text-color);
    margin-top: 10px;
}

.project .date {
    font-size: 14px;
    color: var(--text-color);
    margin-left: 10px;
}

.right-section .projects h3 {
    color: var(--highlight-color); /* Set the color for project titles */
}

.right-section .projects a {
    color: inherit; /* Inherit the color from the parent */
    text-decoration: none;
    /* Add other styling properties as needed */
}

.right-section .projects a:hover {
    color: var(--hover-color); /* Change color on hover */
    text-decoration: underline; /* Underline on hover */
}

.skills ul {
    list-style: none;
    padding: 0;
}

footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact {
    display: flex;
    align-items: center;
}

.contact h3 {
    margin-right: 20px;
}

.footer-content ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer-content h2{
    color: var(--footer-text-color);
}

.footer-content ul li {
    margin-right: 20px;
}

.footer-content ul li:last-child {
    margin-right: 0;
}

.footer-content ul li a {
    color: var(--footer-text-color);
    text-decoration: none;
}

.footer-content ul li a:hover {
    text-decoration: underline;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.3s ease;
    object-position: 0 0;
}

.mini-projects {
    margin-bottom: 40px;
    text-align: center; 
    
}

.mini-projects a {
    display: block; /* Ensures each link appears on a new line */
    color: var(--link-color);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.mini-projects a:hover {
    color: var(--hover-color);
}

/* For screens smaller than 600px (typical smartphones) */
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    header {
        margin-bottom: 20px; /* Reduce margin for header */
    }

    h1 {
        font-size: 28px; /* Decrease font size for header */
    }

    .subtitle {
        font-size: 16px; /* Decrease font size for subtitle */
        margin-bottom: 10px; /* Reduce margin for subtitle */
    }

    .content {
        flex-direction: column; /* Stack content vertically */
    }

    .left-section,
    .right-section {
        width: 100%; /* Make both sections full width */
        margin-right: 0; /* Remove right margin */
    }

    .subsection {
        margin-bottom: 10px; /* Reduce margin for subsections */
    }

    .profile-image {
        width: 100px; /* Decrease profile image size */
        height: 100px;
    }

    .mini-projects {
        margin-bottom: 20px; /* Reduce margin for mini projects */
    }

    .mini-projects a {
        font-size: 16px; /* Decrease font size for mini projects */
    }

    footer {
        flex-direction: column; /* Stack footer content vertically */
        text-align: center; /* Center align footer content */
    }

    .footer-content {
        margin-top: 20px; /* Adjust margin for footer content */
    }

    .footer-content ul {
        flex-direction: column; /* Stack footer links vertically */
    }

    .footer-content ul li {
        margin-bottom: 10px; /* Reduce margin for footer links */
    }
}


