.game {
    border: none;
    color: white;
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 1.5vmin;
}

.box {
    width: 18vmin;
    height: 18vmin;
    background-color: white;
    border-radius: 1vmin;
    color: black;
    border-color: black;
}

body {
    background-color: #F39C6B;
    text-align: center;
}

h1 {
    text-align: center;
    color: #083D77;
}

#reset {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.container {
    height: 61vmin;
    display: flex;
    justify-content: center;

}

.stats p {
    font-weight: bolder;
}

/* For screens smaller than 600px (typical smartphones) */
@media only screen and (max-width: 600px) {
    .game {
        height: 30vmin; /* Decrease height for game board */
        width: 30vmin; /* Decrease width for game board */
        gap: 1vmin; /* Decrease gap between boxes */
    }

    .box {
        width: 9vmin; /* Decrease width for boxes */
        height: 9vmin; /* Decrease height for boxes */
        border-radius: 1vmin; /* Adjust border radius for boxes */
        font-size: 2vmin; /* Decrease font size for box content */
    }

    .container {
        height: 23vh; /* Maintain container height */
    }

    h1 {
        font-size: 3vmin; /* Decrease font size for headings */
    }

    #reset {
        font-size: 2vmin; /* Decrease font size for reset button */
    }
}
