/* General styles */
body {
    background-color: #F39C6B;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #083D77;
    font-size: 5vmin;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vmin;
    width: 80vmin;
    height: 80vmin;
}

.box {
    width: 22vmin;
    height: 22vmin;
    background-color: white;
    border-radius: 2vmin;
    color: black;
    border: none;
    font-size: 4vmin;
}

#reset {
    font-size: 4vmin;
    background-color: #9bb768;
    padding: 1vmin 2vmin;
    margin-top: 2vmin;
}

h1 + h1 {
    margin-top: 2vmin;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    h1, h2 {
        font-size: 7vmin;
    }

    .game {
        width: 90vmin;
        height: 90vmin;
    }

    .box {
        width: 26vmin;
        height: 26vmin;
        font-size: 5vmin;
    }

    #reset {
        font-size: 5vmin;
        padding: 2vmin 3vmin;
    }

    h1 + h1 {
        margin-top: 3vmin;
    }
}
