/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  background-size: cover;  
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;  
}

.app-container {
  display: flex;
}

.main-content {
  margin-left: 57px;
  width: 100%;
  overflow-x: hidden;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

@media (min-width: 1024px) {  
  body {
    background: url('/public/background2.jpg') no-repeat center center fixed;
    background-size: auto;  

  }
}

@media (max-width: 768px) {  
  body {
    background-size: cover; 
    overflow-x: hidden; 
  }

  .main-content {
    margin-left: 40px;
    overflow-x: hidden;
  }
}
