/* Hero Section */
.section-hero {
  background: url('/public/bg.jpg') no-repeat center center fixed;
  background-size: cover; /* Ensures the background image covers the section */
  height: 100vh;
  color: black;
  
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 30px; /* Add some padding to the sides */
}

.text-left {
  color: black;
  text-align: left;
  max-width: 600px; /* Limits text width for better readability */
}

.display-4 {
  font-size: 3.5rem; /* Large title size */
  font-weight: 700;
  margin-bottom: 1rem;
  color: black;
}

.writing {
  font-size: 1.8rem; 
  margin-bottom: 20px;
  color: black;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .section-hero {
    background: url('/public/bg.jpg') no-repeat center;
    background-size: cover; /* Ensures the background image covers the section */
    color: black;
  }
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .display-4 {
    font-size: 2.5rem;
  }

  .writing {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

 

  .text-left {
    padding-right: 0;
    text-align: center;
  }
}
